body{
	font-family: 'Inter', sans-serif,Neutra,Helvetica,Arial;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.7em;
}
.head{
	top: 0;
	background: #FFF;
    transition: all 0.4s ease-out;
    position: fixed;
    z-index: 99;
}
.head-scroll{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
	height:100px !important;
}
.doc-container{
	width:100%;
	margin-top: 160px;
	
}
.side-bar{
	overflow-y: auto;

}
.sub-menu {
	color: #2A2A2A;
	font-size: 18px;
	display: none;
    cursor: pointer;
    text-decoration: none;
}
.sub-menu p{
	line-height: 36px;
}
.block{
	display: block;
}

.rotate{
    transform: rotate(-90deg);
}
.drop-down{
    transition: 0.3s ease;
}
.sub-btn {
    cursor: pointer;
    text-decoration: none;
}
.hr{
	margin-top: 15px;
	margin-bottom:15px;
	border: 1px solid black;
}