

<section class="px-[45px] py-[45px]">
    <h1 class="text-5xl font-bold">Product Rental Management Tool </h1>
    <div class="my-5">
        <div class="owl-carousel owl-theme">         
            <img class="owl-lazy" data-src="./img/pms0.png" alt="">
            <img class="owl-lazy" data-src="./img/pms1.png" alt="">
            <img class="owl-lazy" data-src="./img/pms2.png" alt="">
            <img class="owl-lazy" data-src="./img/pms3.png" alt="">
            <img class="owl-lazy" data-src="./img/pms4.png" alt="">
        </div>
    </div>
    
    <!-- overview -->
    <div>
        <h2 class="text-2xl font-bold">
            Overview
        </h2>
        <p class="pt-3">
            It offers robust features tailored for rental businesses, including automatic email notifications for product expirations.    </div>

    <div class="mt-5">
        <h2 class="text-2xl font-bold">
            Tool
        </h2>
        <div class="pt-3 ticker-main">
            <div class="ticker flex flex-row justify-between">
                <div class="px-2 py-2 border rounded-md bg-slate-100 flex flex-row items-center">
                    <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRASBParCnQhsRkKZ8opkkRjtk9XJ-MHdy0jA&s" width="50px" height="50px"></div>
                    <div class="ps-2">MongoDB</div>
                </div>
                <div class="px-2 py-2 border rounded-md bg-slate-100 flex flex-row items-center">
                    <div><img src="https://ih1.redbubble.net/image.569497967.9696/flat,750x,075,f-pad,750x1000,f8f8f8.webp" width="50px" height="50px"></div>
                    <div class="ps-2">AngularJS</div>
                </div>
                <div class="px-2 py-2 border rounded-md bg-slate-100 flex flex-row items-center">
                    <div><img src="https://ih1.redbubble.net/image.1084299841.8155/tst,small,507x507-pad,600x600,f8f8f8.jpg" width="50px" height="50px"></div>
                    <div class="ps-2">NestJS</div>
                </div>            
                <div class="px-2 py-2 border rounded-md bg-slate-100 flex flex-row items-center">
                    <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSR4sWGfuHCmHvYGFZVQvgRWI1CGQMSVVN2g&s" width="50px" height="50px"></div>
                    <div class="ps-2">AWS</div>
                </div>
                <div class="px-2 py-2 border rounded-md bg-slate-100 flex flex-row items-center">
                    <div><img src="https://i.pinimg.com/originals/39/b2/e4/39b2e4ad77c23a2c11e5950a7dfa2aec.png" width="50px" height="50px"></div>
                    <div class="ps-2">Prisma</div>
                </div>
                <div class="px-2 py-2 border rounded-md bg-slate-100 flex flex-row items-center">
                    <div><img src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png" width="50px" height="50px"></div>
                    <div class="ps-2">Github</div>
                </div>
            </div>       
        </div>         
    </div>

    <!-- infomation -->
    <div class="mt-5">
        <h2 class="text-2xl font-bold">
            Information
        </h2>
        <div class="pt-3 ps-3">
            <ul style="list-style-type:square">
                <li>AWS : with AWS services like Amazon SES for email.</li>
                <li>Authentication and Authorization with JWT Strategy.</li>
                <li>Implements NgRx for centralized state management in Angular.</li>
                <li>Using Cron Jobs for Website Health Checks.</li>
                <li>Utilizes Queue Bull Redis to manage and automate the sending of emails.</li>
                <li>Integrates GitHub Actions to automate the deployment process.</li>
            </ul>
        </div>
    </div>

    <div class="mt-5">
        <button class="bg-black hover:bg-slate-600 text-white px-3 py-2 rounded-md"><a href="#" >Link to Webiste</a></button>
    </div>
</section>

<script src="./src/myscript.js"></script>
<script>
    $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
            items:1,
            lazyLoad:true,
            loop:true,
            margin:10,
            autoHeight:true
        });
    });
</script>